<div>
  <link href="./store-banner.css" rel="stylesheet" />
  <div class="store-banner-store-banner">
    <a
      href="https://play.google.com/store/apps/details?id=com.TheGermanApps.buff_lisa"
      target="_blank"
      rel="noreferrer noopener"
      class="store-banner-link"
    >
      <img
        alt="image"
        src="public/google-play-badge-200h.png"
        class="store-banner-image"
      />
    </a>
    <a
      href="https://apps.apple.com/de/app/stick-it-geomap/id6446781455"
      target="_blank"
      rel="noreferrer noopener"
      class="store-banner-link1"
    >
      <img
        alt="image"
        src="public/app-store-badge-200h.png"
        class="store-banner-image1"
      />
    </a>
  </div>
</div>
